body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.welcome-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
